<% contract.equipment.each do |equipment| %>
  <p><%= equipment.description %></p>
<% end %>
<p><%= contract.rental_period %></p>
<p><%= contract.delivery_address %></p>
<p><%= contract.contact %></p>
<p><%= contract.payment_method %></p>
<p><%= contract.amount %></p>
<p><%= contract.discount %></p>
<p><%= contract.total_amount %></p>
<p><%= link_to 'Emitir', delivery_receipt_contract_path(contract.id), method: :post %></p>
