<tr>
  <td><%= link_to contract.id, contract_path(contract.id) %></td>
  <td><%= contract.customer.name %></td>
  <td><%= contract.amount %></td>
  <td><%= contract.discount %></td>
  <td><%= contract.total_amount %></td>
  <% if contract.delivery_receipt %>
    <td>
      <%= link_to 'Visualizar', delivery_receipt_contract_path(contract.id) %>
    </td>
  <% else %>
    <td>
      <%= link_to 'Emitir Retirada', delivery_receipt_contract_path(contract.id), method: :post %>
    </td>
  <% end %>
  <td>
    <%= link_to 'Emitir Devolução', new_contract_return_receipt_path(contract.id) %>
  </td>
  <td>
    <%= contract.finished ? 'Finalizado' : 'Aberto' %>
  </td>
</tr>
