<% @contracts.each do |c| %>
  <p><%= link_to c.customer.name, contract_path(c) %></p>
  <p><%= c.rental_period %></p>
  <p><%= c.delivery_address %></p>
  <p><%= c.contact %></p>
  <p><%= c.payment_method %></p>
  <p><%= c.amount %></p>
  <p><%= c.discount %></p>
  <p><%= c.total_amount %></p>
<% end %>
