<h1>Contratos</h1>

<% if @contracts.any? %>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Cliente</th>
      <th>Preço</th>
      <th>Desconto</th>
      <th>Preço Final</th>
      <th>Recibos</th>
    </tr>
    <%= render @contracts %>
  </table>
  
<% else %>

  Não há contratos
<% end %>

<nav>
  <%= link_to 'Novo Contrato', new_contract_path, class: 'btn btn-default' %>
  <%= link_to 'Cadastrar Cliente', new_customer_path, class: 'btn btn-default'  %>
  <%= link_to 'Novo Equipamento', new_equipment_path, class: 'btn btn-default'  %>
  <%= link_to 'Nova Categoria', new_category_path, class: 'btn btn-default'  %>
</nav>
