<h1>Novo Contrato</h1>
<%= simple_form_for @contract do |f| %>
  <%= f.input :customer_id, collection: @customer, label: 'Cliente' %>
  <%= f.association :equipment, collection: @equipment, label_method: :full_name , label: 'Equipamentos', as: :check_boxes %>
  <%= f.input :rental_period, collection: [1,3,5,15,30], label: 'Prazo de Locação' %>
  <%= f.input :delivery_address, label: 'Endereço de Entrega' %>
  <%= f.input :contact, label: 'Responsável' %>
  <%= f.input :payment_method, collection: ['a vista', 'parcelado'], label: 'Formas de Pagamento'  %>
  <%= f.input :discount, label: 'Desconto' %>
  <nav>
    <%= f.button :submit, 'Gerar Contrato' %>
    <%= link_to 'Voltar', contracts_path, class: 'btn btn-default' %>
  </nav>
<% end %>
