<h1><%= @contract.customer.name %></h1>

<p>
  Equipamentos:

  <% @contract.equipment.each do |equipment| %>
    <p>Descrição: <%= equipment.description %></p>
  <% end %>
</p>
<p>Prazo de Locação: <%= @contract.rental_period %></p>
<p>Endereço de Entrega: <%= @contract.delivery_address %></p>
<p>Contato: <%= @contract.contact %></p>
<p>Método de Pagamento: <%= @contract.payment_method %></p>
<p>Valor: <%= @contract.amount %></p>
<p>Desconto: <%= @contract.discount %></p>
<p>Valor Total: <%= @contract.total_amount %></p>


<% if @contract.delivery_receipt %>
  <p>
    <%= link_to 'Visualizar Recibo de Retirada', delivery_receipt_contract_path(@contract.id) %>
  </p>
<% else %>
  <p>
    <%= link_to 'Emitir Retirada', delivery_receipt_contract_path(@contract.id), method: :post %>
  </p>
<% end %>

<% unless @contract.return_receipt %>
  <p>
    <%= link_to 'Emitir Devolução', new_contract_return_receipt_path(@contract.id) %>
  </p>
<% else %>
  <p>
    <%= link_to 'Visualizar Recibo de Devolução', return_receipt_contract_path(@contract.id) %>
  </p>
<% end %>
<p>
  <%= finish_contract_helper %>
</p>

<%= link_to 'Voltar', contracts_path, class: 'btn btn-default' %>
