<h1>Recibo de Entrega</h1>

<p>
  Eu, <%= @contract.contact %>, em nome da empresa <%= @customer.name %>,
  inscrita no CNPJ <%= @customer.document %> declaro ter recebido os equipamentos:
</p>
<% @contract.equipment.each do |equip| %>
  <p><%= equip.full_name %></p>
<% end %>

<p>
  pelo período de <%= t(:rental_period, count: @contract.rental_period) %> em perfeitas condições
  de uso no endereço <%= @contract.delivery_address %>
  no dia <%= l(@delivery_receipt.created_at.to_date, format: :long) %> de acordo com o
  contrato <%= @delivery_receipt.contract.contract_code %>.
</p>

<%= link_to 'Voltar', contracts_path, class: 'btn btn-default' %>
