<h1><%= @customer.name %></h1>

<p><%= @customer.legal_name %></p>
<p><%= @customer.customer_type %></p>
<p><%= @customer.document %></p>
<p><%= @customer.fiscal_number %></p>
<p><%= @customer.contact_name %></p>
<p><%= @customer.phone_number %></p>
<p><%= @customer.email %></p>
<p><%= @customer.address %></p>
