<h1>Recibo de Devolução</h1>

<h2>São Paulo, <%= Time.now %></h2>

<p>Eu,<%= @contract.return_receipt.employee %>, portador do documento <%= @contract.return_receipt.document %>, declaro ter
recebido os equipamentos ………………… (lista dos equipamentos contendo numero de serie
e nome) em devolução referente ao contrato <%= @contract.id %> em perfeitas
condições da empresa ………………………………………………. (razão social), inscrita no
CNPJ <%= @contract.customer.document %> no dia <%= @contract.return_receipt.created_at %>.</p>

<p>_____________________________</p>
<p>_Assinatura do Funcionário</p>

<%= link_to 'Voltar', contracts_path, class: 'btn btn-default' %>
