<h1>Recibo de Devolução</h1>

<h2>São Paulo,
  <%= l(@contract.return_receipt.created_at.to_date, format: :long) %>
</h2>

<p>Eu,<%= @contract.return_receipt.employee %>, portador do documento
  <%= @contract.return_receipt.document %>, declaro ter
recebido os equipamentos:
</p>
<p>
  <% @contract.equipment.each do |ce| %>
    <p><%= ce.full_name %></p>
  <% end %>
</p>
<p> em devolução referente ao contrato <%= @contract.contract_code %>
em perfeitas condições da empresa <%= @contract.customer.name %>, inscrita no
CNPJ <%= @contract.customer.document %> no dia
<%= l(@contract.return_receipt.created_at.to_date, format: :long) %>.</p>

<p>_____________________________</p>
<p>_Assinatura do Funcionário</p>

<%= link_to 'Voltar', contracts_path, class: 'btn btn-default' %>
